In [1]:
import pandas as pd
import numpy as np

In [3]:
data5 = {"Name": ["Sanjay","Kaushal","Diksha","Rucha"], "Age": [25,24,24,23]}
df2 = pd.DataFrame(data5,index=[1,2,3,4])
print(df2)

      Name  Age
1   Sanjay   25
2  Kaushal   24
3   Diksha   24
4    Rucha   23