In [1]:
import pandas as pd
import numpy as np

In [ ]:
n1 = [1,2,3,4,5,6,7,8,9,10]
n2 = ["Sanjay","Kaushal","Diksha","Rucha","Meenal","Prajakta","yugendar","mamta","","Hitul"]
s1 = pd.Series(n1,name="emp_id")
s2 = pd.Series(n2,name="names")
df3 = pd.concat([s1,s2],axis=1)
print(df3)
print("")
print(df3.head(5))
print("")
print(df3.tail(5))
print("")
print(df3.head(2))
print("")
print(df3.tail(2))
print("")
print(f"Name of the 5th employpee: {df3.iloc[4]['names']}")
print("")
print("Record of the 4th employpee:")
print(df3.iloc[3])

df3.to_csv('MyRecord.csv')